//- LIST
table.fw(width="512" border="0" cellpadding="0" cellspacing="0" align="center")
  tr
    td(mc-edit="devops_list_title" style=`color: #B8B8B8; font-size: 12px; line-height: 1.6; font-family: ${sansSerif};`)
      | List Posts
  tr
    td(height="16")
  tr(mc:repeatable)
    td(style=`font-family: ${sansSerif};`)
      span(mc:edit="devops_list_title" style=`font-size: 16px; color: ${brandColor}; line-height: 1.2; margin-top: 0; margin-bottom: 0; border-bottom: 1px solid ${brandColor};`)
        | 30 Must-Have Tools to Support DevOps - Part 1 | DEVOPS digest
      p(mc:edit="devops_list_excerpt" style="margin-top: 0; font-size: 14px; color: #B8B8B8; line-height: 1.6; ")
        | Andrey Akselrod, CTO and a co-founder of Smartling, writes for TechCrunch: DevOps, as we know it, is dead. Perhaps not many people agree with me, but the age of DevOps is just about over...
