//- Nav
table.fw.nav(width="512" border="0" cellpadding="0" cellspacing="0" align="center" valign="top" style=`color: #B8B8B8; font-size: 13px; line-height: 1; font-family: ${sansSerif};`)
  tr
    td(width="20%")
    td.pb2x(width="20%" align="center")
      a(href="http://devopslinks.com/#about" style="border-bottom: 1px solid #B8B8B8; color: #B8B8B8; text-decoration: none;") ABOUT
    td.pb2x(width="20%" align="center")
      a(href="http://devopslinks.com/#ads" style="border-bottom: 1px solid #B8B8B8; color: #B8B8B8; text-decoration: none;") SPONSORING
    td.pb2x(width="20%" align="center")
      a(href="http://devopslinks.com/#contact" style="border-bottom: 1px solid #B8B8B8; color: #B8B8B8; text-decoration: none;") CONTACT
    td(width="20%")
