//- Share
table.nav(width="200" border="0" cellpadding="0" cellspacing="0" align="center" valign="top" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
  tr
    td.hw(width="50%" align="center")
      a(href="https://www.facebook.com/sharer/sharer.php?u=*|MC:SUBJECT|* *|ARCHIVE|*" target="_blank" style="-webkit-text-size-adjust: none; color: #FF3333; font-size: 14px; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; font-weight: bold;")
        | SHARE
    td.hw(width="50%" align="center")
      a(href="https://twitter.com/home?status=*|MC:SUBJECT|* *|ARCHIVE|*" target="_blank" style="-webkit-text-size-adjust: none; color: #FF3333; font-size: 14px; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; font-weight: bold;")
        | TWEET
  tr
    td(height="64")
    td(height="64")

