//- SPONSOR
table.fw(width="512" border="0" cellpadding="0" cellspacing="0" align="center")
  tr
    td(style=`color: #B8B8B8; font-size: 12px; line-height: 1.6; font-family: ${sansSerif};`)
      | From our sponsor
  tr
    td(height="16")
  tr
    td
      table.fw(mc:repeatable width="512" border="0" cellpadding="0" cellspacing="0" align="center")
        tr
          td(mc:edit="devops_sponsor" style=`color: #B8B8B8; font-size: 16px; line-height: 1.4; font-family: ${sansSerif}; font-style: italic;`)
            | Concerned about downtime? VictorOps helps you prepare, respond, and recover from IT and DevOps Incidents. #[span(style=`color: ${brandColor}; border-bottom: 1px solid ${brandColor};`) Swing by our product center] to learn how and start your trial.
        tr
          td(height="32")
  tr
    td(height="32")
