:stylus
  // CLIENT-SPECIFIC STYLES ////////////////////////////////////////////////
  // Force Outlook to provide a "view in browser" message
  #outlook a
    padding 0

  // Force Hotmail to display emails at full width
  .ReadMsgBody
    width 100%

  .ExternalClass
    width 100%

  // Force Hotmail to display normal line spacing
  .ExternalClass
  .ExternalClass p
  .ExternalClass span
  .ExternalClass font
  .ExternalClass td
  .ExternalClass div
    line-height 100%

  // Prevent WebKit and Windows mobile changing default text sizes
  body
  table
  td
  p
  a
  li
  blockquote
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
  // Remove spacing between tables in Outlook 2007 and up
  table
  td
    mso-table-lspace 0pt
    mso-table-rspace 0pt

  // Allow smoother rendering of resized image in Internet Explorer
  img
    -ms-interpolation-mode bicubic
  a
    text-decoration  none
    //border-bottom none
    color #212121
  @media only screen and (max-width: 544px)
    body
      margin 0 auto
      padding-left 16px
      padding-right 16px
    .fw
      width 100%!important
      display block
    .hw
      width 50%!important
      display block
    .nav td
      width 33.333%
      float left
    .dn
      display none
    .db
      display block
    .pb
      padding-bottom 16px
    .pb2x
      padding-bottom (16px * 2)
    .pb6x
      padding-bottom (10px * 6)
    tbody
    tr
      display block
