doctype html
html(lang="en")
  head

    include partials/head
    include partials/style

  body(leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" offset="0")

    include partials/pre-header
    include partials/header
    include partials/sponsor
    include partials/intro
    include partials/list

    //- SPACE
    table.fw(width="512" border="0" cellpadding="0" cellspacing="0")
      tr
        td(height="72")

    include partials/discussions

    //- SPACE
    table.fw(width="512" border="0" cellpadding="0" cellspacing="0")
      tr
        td(height="72")

    include partials/two-column

    //- SPACE
    table.fw(width="512" border="0" cellpadding="0" cellspacing="0")
      tr
        td(height="72")

    include partials/share
    include partials/nav

    //- SPACE
    table.fw(border="0" cellpadding="0" cellspacing="0")
      tr
        td(height="32")

    include partials/logo
    include partials/footer

